{% extends "base.html" %}
{% load i18n %}
{% load humanize %}
{% block title %}{{ image.user.username }}{% endblock %}

{% block main %}
	<div class="w3-container" style="width:90%; max-width:800px; margin:0 auto; padding-top:30px;"
    <h1>{{ image.title }}</h1>
            <img src="{{ image.image.url }}" style="width:65%;" class="image-detail w3-left">

    {% with total_likes=image.users_like.count users_like=image.users_like.all %}
        <div class="image-info">
            {{ image.caption|linebreaks }}
        </div>

      <div style="padding-top:10px;" class="interaction">
        {% if user in image.get_likers %}
          <button style="padding:0; box-shadow:none; width:20px; margin-right:0; font-size:19px; color:#e80435;" class="w3-btn w3-white image-like image-unlike">
            <i style=" color:#e80435;" class="fa fa-heart"></i>
          </button>
            <span class="text"></span>
            <span class="small-size like-count">{{ image.likes }}</span><span class="small-size like-name"> like{{ image.likes|pluralize }}</span>

        {% else %}
          <button style="padding:0; width:20px; margin-right:0; box-shadow:none; font-size:19px;" class="w3-btn w3-white image-like">
            <i style=" color:#e80435;" class="fa fa-heart-o"></i>
          </button>
            <span class="text"></span>
            <span class="small-size like-count">{{ image.likes }}</span><span class="small-size like-name"> like{{ image.likes|pluralize }}</span>

        {% endif %}
        <button style="padding:0; box-shadow:none; width:27px; margin-right:0;" class="small-size w3-btn w3-white image-comment">
          <i style=" color:#3b5998;" class="fa fa-comments-o w3-large"></i>
        </button>
        <span class="small-size">{% trans 'Comments' %}</span>
          <span style="padding-left:3px;" class="small-size comment-count">{{ image.comments }}</span>

      </div>
      <div class="image-comments">
        <form role="form" method="post" action="{{ comment }}" onsubmit="return false">
          {% csrf_token %}
          <input type="hidden" name="feed" value="{{ image.pk }}">
          <input type="text" class="form-control input-sm" placeholder="{% trans 'Write a comment...' %}" name="post" maxlength="255">
        </form>
        <ol class="clearfix">
          {% comment %} Place holder to load feed comments {% endcomment %}
        </ol>
      </div>

    {% endwith %}
	</div>
{% endblock main %}

